name: Build and Push Docker Image

on:
  push:
    tags:
      - 'v*.*.*' # Trigger on tags like v1.0.0, v1.2.3, etc.
  # Allows manual triggering from the GitHub Actions UI
  workflow_dispatch:
    inputs:
      tag:
        description: 'Specify an optional tag/version for manual deployment (e.g., 1.2.3)'
        required: false
        default: 'manual-run'
jobs:

  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Get tag version
      id: get_tag_version # Added ID to get tag output
      run: echo "TAG_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Docker Registry
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Login to Cangling Repo
      uses: docker/login-action@v1
      with:
        registry: harbor.cangling.cn:22002
        username: ${{ secrets.CANGLING_USERNAME }}
        password: ${{ secrets.CANGLING_PASSWORD }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.PUSH_GITHUB_TOKEN }}   

    - name: Build cangling-builder
      id: cangling_builder
      uses: docker/build-push-action@v2
      with:
        context: ./builder
        file: ./builder/Dockerfile
        push: true
        tags: |
          ghcr.io/${{ github.repository_owner }}/builder:${{ github.sha }}
          ghcr.io/${{ github.repository_owner }}/builder:${{ steps.get_tag_version.outputs.TAG_VERSION }}
          ${{ secrets.DOCKER_USERNAME }}/builder:${{ github.sha }}
          ${{ secrets.DOCKER_USERNAME }}/builder:${{ steps.get_tag_version.outputs.TAG_VERSION }}
          harbor.cangling.cn:22002/cangling/builder:${{ steps.get_tag_version.outputs.TAG_VERSION }}
        platforms: linux/amd64,linux/arm64
    - name: Build nginx-rtmp
      id: cangling_nginx
      uses: docker/build-push-action@v2
      with:
        context: ./builder
        file: ./builder/Dockerfile
        push: true
        tags: |
          ghcr.io/${{ github.repository_owner }}/nginx-rtmp:${{ github.sha }}
          ghcr.io/${{ github.repository_owner }}/nginx-rtmp:${{ steps.get_tag_version.outputs.TAG_VERSION }}
          ${{ secrets.DOCKER_USERNAME }}/nginx-rtmp:${{ github.sha }}
          ${{ secrets.DOCKER_USERNAME }}/nginx-rtmp:${{ steps.get_tag_version.outputs.TAG_VERSION }}
          harbor.cangling.cn:22002/cangling/nginx-rtmp:${{ steps.get_tag_version.outputs.TAG_VERSION }}
        platforms: linux/amd64,linux/arm64
    - name: Build and Push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: ./gdal-base
        file: ./gdal-base/Dockerfile
        push: true
        tags: |
          ghcr.io/${{ github.repository_owner }}/gdal-base:${{ github.sha }}
          ghcr.io/${{ github.repository_owner }}/gdal-base:${{ steps.get_tag_version.outputs.TAG_VERSION }}
          ${{ secrets.DOCKER_USERNAME }}/gdal-base:${{ github.sha }}
          ${{ secrets.DOCKER_USERNAME }}/gdal-base:${{ steps.get_tag_version.outputs.TAG_VERSION }}
          harbor.cangling.cn:22002/cangling/gdal-base:${{ steps.get_tag_version.outputs.TAG_VERSION }}
        platforms: linux/amd64,linux/arm64
    
    - name: Output Docker Image Tag
      run: |
        echo "docker_image_tag=${{ steps.docker_build.outputs.tags }}" >> $GITHUB_OUTPUT