name: Build and Push Docker Image

on:
  push:
    tags:
      - '*'

jobs:

  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    
    - name: Login to Docker Registry
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and Push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: ./gdal-base
        file: ./gdal-base/Dockerfile
        push: true
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/gdal-base:${{ github.ref_name }}
          ${{ secrets.DOCKER_USERNAME }}/gdal-base:2.0
        platforms: linux/amd64,linux/arm64
    
    - name: Output Docker Image Tag
      run: |
        echo "Docker Image Tag: ${{ steps.docker_build.outputs.tags }}" >> $GITHUB_OUTPUT
